<h1> OMG EASY MON </h1>

<table border="1" bordercolor="#000000" style="background-color:#FFFFFF" width="600" cellpadding="0" cellspacing="0">
	<tr>
	 <th></th>
	 <th>Team 1</th>
	 <th>Team 2</th>
	 <th>Team 3</th>
	 <th>Team 4</th>
	 <th>Team 5</th>
	 <th>Team 6</th>
	 <th>Team 7</th>
	 <th>Team 8</th>
	</tr>
	<tr>
		<td>HTTP</td>
		<td><%=@team1.http_up %></td>
	</tr>
	<tr>
		<td>HTTPs</td>
		<td><%=@team1.https_up %></td>
	</tr>
	<tr>
		<td>FTP</td>
		<td><%=@team1.ftp_up %></td>
	</tr>
	<tr>
		<td>MySQL</td>
		<td><%=@team1.mysql_up %></td>
	</tr>
	<tr>
		<td>SMB</td>
		<td><%=@team1.smb_139_up %></td>
	</tr>
	<tr>
		<td>SMB 445</td>
		<td><%=@team1.smb_445_up %></td>
	</tr>
</table>




